﻿.iftJobTitle
{
    width: 80%;
    height: 15px;
    padding: 1px 1px 1px 1px;
    
    font-family: Arial;
    font-size: small;
}

.iftRequesterPosition
{
    width: 80%;
    height: 15px;
    padding: 1px 1px 1px 1px;
    
    font-family: Arial;
    font-size: small;
}

.iftDate
{
    width: 100px;
    height: 15px;
    padding: 1px 1px 1px 1px;
    
    font-family: Arial;
    font-size: small;
}

.iftCourseOfStudy
{
    width: 70%;
    height: 15px;
    padding: 1px 1px 1px 1px;
    
    font-family: Arial;
    font-size: small;
}

.iftPostDegreeYearsOfExperience
{
    width: 20px;
    height: 15px;
    padding: 1px 1px 1px 1px;
    
    font-family: Arial;
    font-size: small;
}

/* Last Tab
====================== */
.mtn_careers_form
{
    padding:0;
    margin:0;
    border-collapse:collapse;
    width:100%;
}

.mtn_careers_form tr.gray
{
    background:#f9f9f9;
}

.mtn_careers_form tr.edit
{
    background:#FFF3D4;
}

.mtn_careers_form tr.yellow_header
{
    background-color: rgb(255, 173, 1);
    font-size:x-small;
    font-weight:bold;
    color:#000000;
    text-transform:uppercase;
}
.mtn_careers_form tr.yellow_header td
{
    border:1px #ffffff solid;
}

.mtn_careers_form td
{
    padding:3px 5px;
    margin:0;
}


.td_Label
{
    background-color: rgb(255, 173, 1);
    width: 35%;
    padding:5px 10px;
    margin:0;
    font-family: Calibri;
    font-size: small;
    color:#000000;
    font-size:12px;
     text-transform:capitalize;
}
.td_Field
{
    background-color: rgb(235, 243, 255);
    vertical-align: middle;
    padding:5px 10px;
    margin:0;
    color:#000000;
}

.MyButton
{
    padding: 6px 10px;
    
    background: #12648A;
    color: #ffffff;
    font-size: x-small;
    font-weight: bold;    
    border: none !important;
    margin: 0;
    text-transform: uppercase;
}

.txtNoOfOpeningsStyle
{
    width: 20px;
    height: 15px;
    
    font-family: Arial;
    font-size: x-small;
    font-weight: bold;
}