﻿table.myTable

{

    margin:0;

    padding:0;

    border-collapse:collapse;   

}
table.myTable tr.myrowheader
{

    background-color: rgb(255, 173, 1);

    font-size:13px;

    font-weight:bold;

    color:#000000;

    text-transform:uppercase;

    

}

table.myTable tr.myrowheader td

{

    padding:10px;

    margin:0;

}

table.myTable td
{

    border:1px #ffffff solid;

}

.td_Label

{

    background-color: rgb(255, 173, 1);

    width: 35%;

    padding:5px 10px;

    margin:0;

    font-family: Calibri;

    font-size: small;

    color:#000000;

    font-size:12px;
     text-transform:capitalize;

}

.td_Field

{

    background-color: rgb(235, 243, 255);


    vertical-align: middle;

    padding:5px 10px;

    margin:0;

    color:#000000;

}

.MyTabStyle .ajax__tab_header

{

    font-size: 12px;

    font-weight: bold;

    display: block;
    text-transform:capitalize;

}

.MyTabStyle .ajax__tab_header .ajax__tab_outer

{

    background: #12648A;

    color: #ffffff;

    padding: 5px 10px;

    margin: 0px;

    border-right: 1px #ffffff solid;

}

.MyTabStyle .ajax__tab_header .ajax__tab_inner

{

    border-color: #666;

    color: #666;

}

.MyTabStyle .ajax__tab_hover .ajax__tab_outer

{

    background-color: #0C445F;

}

.MyTabStyle .ajax__tab_hover .ajax__tab_inner

{

    color: #ffffff;

    background-color: #0C445F;

}

.MyTabStyle .ajax__tab_active .ajax__tab_outer

{

    background-color: #0C445F;

    color: #ffffff;

    padding: 5px 10px;

    border-right: 1px #ffffff solid;

}

.MyTabStyle .ajax__tab_active .ajax__tab_inner

{

    color: #ffffff;

}

.MyTabStyle .ajax__tab_body

{

    margin: 0;

    padding: 0;

    clear: both;

    border: none;

}

.ajax__tab_tab

{

    color: White;

}

.MyButton

{

    background: #12648A;

    color: #ffffff;

    font-family: Arial;
    font-size: x-small;
    font-weight: bold;

    padding: 4px 10px;

    border: none !important;

    margin: 0;

    text-transform: uppercase;

}

.careers_btn5
{
    background:url(../Images/btn_img2.png) no-repeat top left;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    border:none;
    padding:6px 15px;
    margin:0;
    text-align:center;
    text-transform:capitalize;
}

/* GRID */

.mGrid {   

    width: 100%;   

    background-color: #eeeded;   

    margin:20px 0 10px 0;   

    border: solid 1px #c2c1c1;   

    border-collapse:collapse;   

}  

.mGrid td {   

    padding:5px;   

    border: solid 1px #c1c1c1;   

    color: #393838;

    font-weight:normal;

    font-size:11px;   

}  

.mGrid th {   

    padding:5px;   

    color: #ffffff;   

    background: #026DA1;   

    border-left: solid 1px #c2c1c1;   

    font-size:12px;

    font-weight:normal;

    text-transform:uppercase;

    vertical-align:top !important;   

}  

.mGrid .alt { background:#f6f6f6; } 