﻿.PropertyName
{
    background-color: rgb(255, 173, 1);
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-family: Calibri;
    font-size:12px;
font-weight:bold;
color:#000000;
}

.PropertyValue
{    
    background-color: rgb(235, 243, 255);
    vertical-align: middle;
    padding-top: 1%;
    padding-bottom: 1%;
color:#000000;
}