﻿.td_Label
{
    width: 35%;
    
    padding: 1.5% 1.5% 1.5% 1.5%;
    
    font-family: Calibri;
    font-size: small;
    
    text-transform: capitalize;    
}

.td_Value
{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 1.5%;
}