﻿.td_Label
{
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    
    width: 30%;
    
    font-family: Calibri;
    font-size: small;
    
    text-transform: Capitalize;
    
    vertical-align: middle;
}

.td_Label_capitalize
{
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    width: 30%;
    
    font-family: Calibri;
    font-size: small;
    
    text-transform: capitalize;
    
    vertical-align: middle;
}

.td_Label_TopVerticalAlign
{
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    width: 30%;
    
    font-family: Calibri;
    font-size: small;
    
    text-transform: uppercase;
    
    vertical-align: top;
}

.td_Field
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    vertical-align: middle;
}

.td_Field_TopVerticalAlign
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    vertical-align: top;
}

.td_Field_BottomVerticalAlign
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    vertical-align: bottom;
}

