﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #F4F4F4;
    font-size:12px;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #545454;
    width:100%;
    height:auto;
    line-height:20px;
}

a:link, a:visited
{
    color: #015d8e;
    text-decoration:underline;
}

a:hover
{
    color: #000000;
    text-decoration: none;
}

a:active
{
    color: #015d8e;
}

a.reg_anchor{padding:0px 10px; margin:0;
}

p
{
    margin:0;
    margin:7px 0;
    line-height: 1.6em;
}

img, img a
{
	border:none;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    color: #545454;
    text-transform: none;
    margin: 0px;
    padding:0;
    font-family:Arial, Helvetica, Verdana, sans-serif;
    font-weight:bold;
    text-shadow: 0 1px 0 white;
}

h1
{
    font-size:24px;
    padding:5px  0px;
    margin-bottom: 0px;
}

h2
{
     font-size:20px;
    padding:5px  0px;
    margin-bottom: 0px;
    font-style:italic;
}

h3
{
    font-size:18px;
    padding:5px  0px;
    margin-bottom: 0px;
}

h4
{
     font-size:16px;
    padding:5px  0px;
    margin-bottom: 0px;
}

h5
{ 
     font-size:14px;
    padding:5px  0px;
    margin-bottom: 0px;
}

 h6
{ 
    font-size:13px;
    padding:5px  0px;
    margin-bottom: 0px;
}

.clear
{
	height:1px;
	clear:both;
}


/* Global Page Wrappers
----------------------------------------------------------*/
.global
{
	width:100%;
	margin:0;
	padding:0;
	height:auto;
}

.header
{
    clear:both;
    margin:0;
    padding:0;
    height:auto;
    width:100%;
}

.head
{
    clear:both;
    margin:0;
    padding:0;
    height:135px;
    width:100%;
    background:url(../Images/header_bg.jpg) repeat-x top;
}

.wrapper
{
    clear:both;
    margin:0 auto;
    padding:0;
    width:960px;
    height:auto;
}

.logo
{
    float:left;
    width:82px;
    height:82px;
    margin:0;
    padding:8px;
}

.header_links
{
    float:right;
    width:300px;
    margin:0;
    padding:20px 0 0 0;
    color:#000000;
}

.header_links a
{
    color:#000000;
    padding:0 10px;
    margin:0;
}
.header_links a:hover
{
    color:#545454;
}

/* Menu
--------------------------- */
.careers_menu
{
    clear:both;
    height:37px;
    width:100%;
    background:url(../Images/menu_bg.jpg) repeat-x top;
    margin:0;
    padding:0;
}
/* 7 Navigation Bar
-------------------------------------------------------------------------------- */
#navbar {	

	z-index: 99;
	height:auto;
	padding:0px; margin:0;
	width:auto;float:left;
}

#navbar-inner {/*
	border-radius: 5px;	
	background: url(Images/menu_bg.jpg) repeat-x;  Old browsers */
float:left;
	width:960px;
}

/* Navigation */

#nav {
	float:left;width:960px;
		
}

/* Navigation List */

ul#navlist {
	/* border: 1px solid rgba(255,255,255,0.05); */width:960px;
	margin:0;
	padding:0;
}

ul#navlist > li {
	float: left;
	margin:0px;
	list-style:none;
}

ul#navlist > li.current, ul#navlist > li:hover {
	background:#fbfbfb;/* Old browsers */
	
	
}
ul#navlist > li.home {
	background:none; border:none;/* Old browsers */
	
}

ul#navlist > li.home a:hover{
	opacity:0.7;
	margin-top:0px;
}

ul#navlist > li:first-child {
	border-left: none;
}

ul#navlist a:link, ul#navlist a:visited {
	display: block;
	color: #ffffff;
	text-decoration: none;
}

ul#navlist a:hover, ul#navlist a:active, ul#navlist > li.current > a {
	color:#70707A;
	/*background: url(../Images/dd_img.jpg) repeat-x top;*/
}

ul#navlist > li > a {
	font-weight:bold;
	padding:8px 40px 9px 40px;
	background: url(../Images/menu-separator.jpg) no-repeat right;
}


ul#navlist > li > a.trigger:link span, ul#navlist > li > a.trigger:visited span {
	padding-right: 15px;
}
ul#navlist > li > a.trigger:visited span {
	padding-right: 15px;
	color:#70707A;
}

ul#navlist > li > a.trigger:hover span, ul#navlist > li > a.trigger:active span, ul#navlist > li.current > a.trigger span {
	background-position: right -145px;
		
}

ul#navlist span {
	display: block;	
}

/* First-Level Drop-Down */

ul#navlist ul {
	padding:0px;
	background-color:#EFEFEF;
	margin:0;
}

ul#navlist ul li {
	border-top: 1px solid #E1E1E1;
	color:#1f1f1f;
	list-style:none;
}

ul#navlist ul li a:link, ul#navlist ul li a:visited, ul#navlist ul li a:active {	
	color:#1f1f1f;
}
ul#navlist ul li:hover {	
	background:#E9E9E9;
}

ul#navlist ul li:first-child {	
	border-top: none;
}

ul#navlist ul a {	
	padding: 5px 15px;
}

ul#navlist ul a.trigger:link span, ul#navlist ul a.trigger:visited span {
	padding-right: 9px;
}

ul#navlist ul a.trigger:hover span, ul#navlist ul a.trigger:active span {
	background-position: right -143px;
}

/* Second-Level Drop-Down */

ul#navlist ul ul {
	margin:0; padding:0;
	margin-top:1px;
}

/* Drop-Down Menu Activation */

ul#navlist ul {
	position: absolute;
	top: -999em;
	width: 198px; /* left offset of submenus need to match (see below) */
	background:#F9F9F9;
}

ul#navlist ul li {
	width: 100%;
}

ul#navlist li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul#navlist li {
	float: left;
	position: relative;
}

ul#navlist a {
	display: block;
	position: relative;
}

ul#navlist li:hover ul,
ul#navlist li.sfHover ul {
	left: -1px;
	top: 38px; /* match top ul list item height */
	z-index: 99;
}

ul#navlist li:hover li ul,
ul#navlist li.sfHover li ul {
	top: -999em;
}

ul#navlist li li:hover ul,
ul#navlist li li.sfHover ul {
	left: 198px; /* match ul width */
	top: -1px;
}

ul#navlist li li:hover li ul,
ul#navlist li li.sfHover li ul {
	top: -999em;
}

ul#navlist li li li:hover ul,
ul#navlist li li li.sfHover ul {
	left: 198px; /* match ul width */
	top: -1px;
}

/* Container for body
================================== */
.container
{
    clear:both;
    margin:0;
    padding:0;
    width:100%;
}

/* Footer
================================== */
.footer
{
    clear:both;
    margin:0;
    padding:0;
    width:100%;
}

.f_line
{
    background:url(../Images/footer_line.jpg) repeat-x top;
    height:50px;
    padding:15px 0;
}

.credit
{
    float:left;
    color:#939292;
    font-size:10px;
    font-style:italic;
    margin:0;
    padding:0;
}

.social_icons
{
    float:right;
    width:170px;
    margin:0;
    padding:0;
    height:auto;
    text-align:right;
}

/* Default.aspx 
-------------------------------- */
.banner_wrapper
{
    clear:both;
    height:331px;
    background:url(../Images/banner_bg.jpg) repeat-x top;
    width:100%;
    margin:0;
    padding:0;
}
.banner_wrapper_inner
{
    clear:both;
    height:300px;
    width:100%;
    margin:0;
    padding:0;
}

.banner
{
    clear:both;
    height:331px;
    width:auto;
    margin:0;
    padding:0;
    position:absolute;
}
.b__img
{
    clear:both;
    height:331px;
    width:auto;
    margin:0;
    padding:0;
    position:absolute;
}
.vacancies
{
    clear:both;
    height:70px;
    width:960px;
    margin:0;
    padding:0;
    background:url(../Images/vacancies_bg.png) no-repeat  top;
    position:absolute;
}

.vacancies .vacant
{
    width:42%;
    float:left;
    margin:0;
    padding:20px 4%;
}

.vacant span.title_vac{
    font-size:18px;
    padding:0;
    margin:0;
    color:#555454;
    font-weight:bold;
    text-shadow: 0 1px 0 white;
}
.vacant span.value_vac{
    font-size:18px;
    padding:0px;
    margin: 0px;
    padding-left:20px;
    color:#015d90;
    font-weight:bold;
    text-shadow: 0 1px 0 white;
}
.vacancies ._vacant
{
    width:46%;
    float:right;
    margin:0;
    padding:13px 2% 10px 2%;
}
.mtn_career_v
{
    width:315px;
    height:37px;
    background:url(../Images/select_bg.jpg) no-repeat  top left;
    float:right;
}

.mtn_career_v select
{
    background-color:#eeeeee;
    border:none;
    color:#555454;
    font-weight:bold;
    text-shadow: 0 1px 0 white;
    font-size:13px;
    margin:5px 0 5px 10px;
    padding:0px;
    padding-top:4px;
    padding-right:7px;
    width:245px;
}

.go
{
    background:url(../Images/go-btn.jpg) no-repeat  top left;
    border:none;
    color:#ffffff;
    font-weight:bold;
    text-shadow: 0 1px 0 #555454;
    font-size:13px;
    width:50px;
    height:37px;
}



.page_title
{
    clear:both;
    height:60px;
    width:960px;
    margin:0;
    padding:0;
    background:url(../Images/page_title_overlay.png) repeat  top;
    position:absolute;
    bottom:1px;
}

.d_title
{
    float:left;
    width:61%;
    margin:0;
    padding:15px 2%;
    height:30px;
}

.d_action
{
    float:right;
    width:33%;
    margin:0;
    padding:12px 1%;
    height:36px;
    background:url(../Images/page_title_overlay_02.png) repeat  top;
}
._log_info
{
    float:left;
    margin-top:10px;
}
._login
{
    float:right;
}

.home_content
{
    clear:both;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}

.home_content_ix
{
    padding:40px 0 10px 0;
    margin:0;
    clear:both;
}

.home_content_inner
{
    padding:40px 0 10px 0;
    margin:0;
    clear:both;
}

.round
{
    clear:both;
    margin:0;
    padding:0;
    width:960px;
    height:auto;
}

.round_top
{
    clear:both;
    margin:0;
    padding:0;
    width:960px;
    height:10px;
    background:url(../Images/round_top.jpg) no-repeat  top;
}

.round_middle
{
    clear:both;
    margin:0;
    padding:10px;
    width:940px;
    height:auto;
    background:url(../Images/round_middle.jpg) repeat-y  top;
}
.round_btm
{
    clear:both;
    margin:0;
    padding:0;
    width:960px;
    height:10px;
    background:url(../Images/round_btm.jpg) no-repeat  top;
}

.home_career
{
    clear:both;
    margin:0;
    padding:0;
}

.home_left
{
    float:left;
    width:460px;
    margin:0;
    padding:0;
    height:auto;
}

.home_right
{
    float:right;
    width:460px;
    margin:0;
    padding:0;
    height:auto;
}

.investin
{
    clear:both;
    margin:0;
    padding:0;
    padding-bottom:10px;
    }

.who
{
    clear:both;
    border:1px #f4f4f4 solid;
    background:#fdfcfc;
    margin:10px 0;
    padding:10px;
}

p.whox
{
    width:350px;
    float:left;
}
.who img
{
    float:right;
}

.vac_hm
{
    clear:both;
    margin:0;
    padding:0;
    padding-bottom:10px;
    }
.vac_btns
{
    clear:both;
    margin:0;
    padding:0;
    text-align:center;
}

.vac_btns a.loginbtn
{
    margin:0;
    padding:0;
    margin-left:20px;
}

.vac_btns a:hover
{
    opacity:0.7;
}

.deal
{
    clear:both;
    padding:0;
    margin:0;
}

.deal ul
{
    clear:both;
    padding:0;
    margin:0;
}

.deal ul li
{
    list-style:none;
    background:#FBFAFA url(../Images/deal_value.jpg) repeat-x  top;
    width:auto;
    min-height:47px;
    margin:0;
    padding:10px 10px 5px 10px;
}
.deal ul li.head_xx
{
    background:#f6f6f6;
    height:auto;
}

.deal ul li p
{
    float:right;
    width:370px;
    margin:0;
    padding:0;
}

.deal ul li img
{
    float:left;
}

.deal ul li.head_xx p
{
    width:auto;
}

._value_block
{
    clear:both;
    padding:10px 0;
    margin:5px 0;
    border-bottom:1px #f4f4f4 solid;
   
}

._value_block h5
{
    font-style:italic;
}

._value_block ul
{
    clear:both;
    margin:0;
    padding:5px 0;
}

._value_block ul li
{
    list-style:none;
    display:block;
    float:left;
    padding:5px 20px;
    margin:0;
    background:url(../Images/bullet.png) no-repeat left;
}

h5.one-brand
{
    display:inline-block;
    padding:0;
    margin:0;
}

span._one-brand
{
    display:inline-block;
    margin-left:20px;
}

.ipp
{
    clear:both;
    padding:20px 0 10px 0;
    margin:5px 0;
    text-align:right;   
}

/* Inner Pages Styles
--------------------------------------- */
.inner_left
{
    width:650px;
    float:left;
    margin:0;
    padding:0;
    height:auto;
    padding-left:10px;
}

.inner_right
{
    width:250px;
    float:right;
    margin:0;
    padding:0;
    height:auto;
}
.inner__img
{
    clear:both;
    height:240px;
    width:auto;
    margin:0;
    padding:0;
    position:absolute;
    margin-top:80px;
}

._welcome
{
    clear:both;
    background:#f6f6f6;
    border-bottom:1px #dad9d9 solid;
    padding:15px;
    margin:0p;
}

._welcome h4, ._view_vacanies h4
{
    font-style:italic;
}

._view_vacanies
{
    clear:both;
    border:1px #f4f4f4 solid;
    background:#fdfcfc;
    padding:15px;
    margin:10px 0;
}
._view_vacanies img
{
    float:right;
}

._submit
{
    clear:both;
    padding:0;
    margin:10px 0;
}

.sidebar_links { width:auto; height:auto;  clear:both; 
border:1px #dad9d9 solid; background:#faf9f9;
}
.sidebar_links ul { list-style: none; margin: 0; padding: 0;  } 
.sidebar_links li {list-style: none; margin: 0px; 
                   border-bottom:1px #dad9d9 solid;  
                   padding:5px 10px;
                   background:url(../Images/sidebar_links_bg.jpg) repeat-x top left;
}

.sidebar_links li a{  font-size:12px;  margin: 0px; text-decoration:none; color:#8a8989;
                      padding:0; display:block;
}
 
.sidebar_links li:hover { text-decoration: none; background:#fdfcfc;}
.sidebar_links li.last{ border-bottom:none;}


/* Forms Styles 
========================== */
.mtn_careers_form
{
    clear:both;
    margin:0;
    padding:0 0 10px 0;
    width:600px;
    color:#353535;
}

.mtn_careers_form table
{
    padding:0;
    margin:10px 0;
    border-collapse:collapse;
    text-transform:capitalize!important;
    width:100%;
}

.mtn_careers_form table tr.gray
{
    background:#f9f9f9;
}

.mtn_careers_form table tr.edit
{
    background:#FFF3D4;
}

.mtn_careers_form table tr.blue_header
{
    background:#02498A; /*now black */
    color:#ffffff;
}
.mtn_careers_form table tr.blue_header td
{
    border:1px #ffffff solid;
}

.mtn_careers_form table td
{
    padding:6px 10px 6px 10px;
    margin:0;
}
.mtn_careers_form thead
{
    text-align:left;
    font-weight:bold;
}

.mtn_careers_form thead th
{
    padding:6px 10px 6px 10px;
}

._title
{
    width:200px!important;
}

.mtn_careers_form table h4
{
    text-transform:capitalize;
}

table.full_width
{
    width:1200px !important;
    margin:0!important;
}
table.full_width select
{
    margin:2px 0;
}

input.textinput {
width:250px;
border: 1px solid #d3d3d3;
background: #fff;
font-size: 15px;
color: #000;
text-indent: 7px;
padding: 7px 0;
margin:0px;
}
input.textinput2 {
width:350px;
border: 1px solid #d3d3d3;
background: #fff;
font-size: 15px;
color: #000;
text-indent: 7px;
padding: 7px 0;
margin:0px;
}

input[type=text], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 3px 3px 3px;
  margin:0;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px #025d8c;
  padding: 3px 3px 3px 3px;
  margin:0;
  border: 1px solid #0581c3;
  background:#ffffff;
}

.careers_btn
{
    background:url(../Images/btn_img.png) no-repeat top left;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    border:none;
    padding:6px 22px;
    margin:0;
    text-align:center;
    text-transform:capitalize;
}
.careers_btn2
{
    background:url(../Images/btn_img.png) no-repeat top left;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    border:none;
    padding:6px 27px;
    margin:0;
    text-align:center;
    text-transform:capitalize;
}

.careers_btn3
{
    background:url(../Images/btn_img.png) no-repeat top left;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    border:none;
    padding:6px 31px;
    margin:0;
    text-align:center;
    text-transform:capitalize;
}
.careers_btn4
{
    background:url(../Images/btn_img2.png) no-repeat top left;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    border:none;
    padding:6px 25px;
    margin:0;
    text-align:center;
    text-transform:capitalize;
}

.careers_btn5
{
    background:url(../Images/btn_img2.png) no-repeat top left;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    border:none;
    padding:6px 15px;
    margin:0;
    text-align:center;
    text-transform:capitalize;
}

.mtn_careers_data
{
    clear:both;
    margin:0;
    padding:0 0 10px 0;
    width:600px;
}

.mtn_careers_data table
{
    padding:0;
    margin:10px 0;
    border-collapse:collapse;
    text-transform:capitalize!important;
    width:100%;
}


.mtn_careers_data table td
{
    padding:6px 20px 6px 0px;
    margin:0;
}

.mtn_careers_data table td._htitle
{
    font-weight:bold;
    width:120px;
}


/* GRID */
.mg
{
    clear:both;
    margin:0;
    padding:0;
}
.mGrid {   
    width: 100%;   
    background-color: #FCFCFC;   
    margin:0px 0 10px 0;   
    border: solid 1px #c2c1c1;   
    border-collapse:collapse; 
    text-transform:capitalize;  
}  
.mGrid td {   
    padding:5px;   
    border: solid 1px #c1c1c1;   
    color: #393838;
    font-weight:normal;
    font-size:11px;   
}  
.mGrid th {   
    padding:5px;   
    color: #ffffff;   
    background: #026DA1;   
    border-left: solid 1px #c2c1c1;   
    font-size:12px;
    font-weight:normal;
    text-transform:uppercase;
    vertical-align:top !important;   
}  
.mGrid .alt { background:#F6F6F6; } 

/* CV Styles
=================== */
.cv_wrap
{
    width:1200px;
    margin:20px auto;
    padding:20px;
    clear:both;
    border:1px #ebebeb solid;
    background:#ffffff;
}

.cv_wrapper
{
    clear:both;
    margin:0 auto;
    padding:0;
    width:1240px;
    height:auto;
}
.MyTabStyle .ajax__tab_header
        {
            font-size: 12px;
            font-weight:bold;
            display: block;
            text-transform:capitalize;
            cursor:pointer;

        }
        .MyTabStyle .ajax__tab_header .ajax__tab_outer
        {
            color: #ffffff;
            margin:0px;
            border-right:1px #ffffff solid;
        }
        .MyTabStyle .ajax__tab_header .ajax__tab_inner
        {

            color: #666;
            background: url(../Images/ajax__tab_header.jpg) repeat-x top left;
            padding:8px 20px;
        }
        .MyTabStyle .ajax__tab_hover .ajax__tab_outer
        {
            /* background-color:#02437d; */
        }
        .MyTabStyle .ajax__tab_hover .ajax__tab_inner
        {
            color: #ffffff;
            background:#02498A !important;
        }
        .MyTabStyle .ajax__tab_active .ajax__tab_outer
        {
            background:#000000 !important;
            color:#ffffff;
            border-right:1px #ffffff solid;
        }
        .MyTabStyle .ajax__tab_active .ajax__tab_inner
        {
            color: #ffffff;
             background:#02498A !important;
        }
        .MyTabStyle .ajax__tab_body
        {
            margin:0;
            padding:0;
            clear:both;
            border:none;
        }
        .ajax__tab_tab
        {
            color:White;
        }
